/* General styles for all screen sizes */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f6f1e7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #480808;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.person-name {
    color: #528b86;
    font-size: 28px;
    margin-bottom: 5px;
}

.points {
    font-size: 24px;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #f6f1e7;
    background-color: #0f4c81;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #17314d;
}

/* Hide the total points display by default */
#totalPointsDisplay {
    display: none;
    margin-top: 30px;
    text-align: center;
}

/* Total points display area */
#totalPointsDisplay h2 {
    font-size: 36px;
    color: #528b86;
}

#totalPointsDisplay p {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

#totalPointsDisplay span {
    font-size: 24px;
    font-weight: bold;
    color: #528b86;
}

#totalPointsDisplay button {
    background-color: #528b86;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 5px;
}

#resetPointsButton {
    background-color: #960d00;
}

#resetPointsButton:hover {
    background-color: #bd0f00;
}

/* Media Queries for Mobile Screens */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .person-name {
        font-size: 20px;
    }

    .points {
        font-size: 18px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    #totalPointsDisplay h2 {
        font-size: 24px;
    }

    #totalPointsDisplay p {
        font-size: 18px;
    }

    #totalPointsDisplay span {
        font-size: 18px;
    }

    #totalPointsDisplay button {
        font-size: 16px;
        padding: 8px 16px;
    }
}
